.clouds {
  &__cloud {
    background-color: white;
    position: absolute;
    border-radius: 100%;
    z-index: -1;

    &:nth-child(1) {
      width: 500px;
      height: 500px;
      top: -8%;
      left: -60px;
    }
    &:nth-child(2) {
      width: 700px;
      height: 600px;
      top: -9%;
      left: 200px;
    }
    &:nth-child(3) {
      width: 1500px;
      height: 600px;
      top: -10%;
      left: 600px;
    }
  }
}
