footer {
  background-color: $third-color;
  padding: 50px;

  & ul {
    @extend %flex-space;
    margin-bottom: 50px;
    & li {
      color: white;

      &:hover {
        cursor: pointer;
        color: $second-color;
      }
    }

    @include little {
      flex-direction: column;
      align-items: center;
      & li {
        margin: 10px;
      }
    }
  }

  & p {
    color: white;
    text-align: center;
    font-weight: 0;
    font-size: 13px;
    margin-top: 10px;
  }
}
